@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root {
  --deepBlue: #2b3e86;
  --white: #fff;
  --skyBlue: #179ede;
  --textFont: 'Roboto', sans-serif;
  --headFont: 'Noto Sans', sans-serif;
}

h2{
    text-transform: capitalize;
}

.whoAreWeBox{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.whoAreWeBox h1{
    font-size: 5rem;
    font-weight: 500;
    color: #fff;
}

@media only screen and (max-width: 375px) {
   .whoAreWeBox h1{
    font-size: 3em;
   }

   .innerHead{
    flex-direction: column;
   }

}

@media only screen and (min-width: 376px) and (max-width: 425px) {
   
    .whoAreWeBox h1{
        font-size: 3.5em;
       }

       .innerHead{
        flex-direction: column;
       }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .whoAreWeBox h1{
        font-size: 4em;
       }

       .innerHead{
        flex-direction: column;
       }
}


@media only screen and (max-width: 836px) {
    .whoAreWeBox h1 img{
        width: 100%;
    }
}
