@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --deepBlue: #25356e;
  --white: #fff;
  --skyBlue: #179ede;
  --textFont: 'Roboto', sans-serif;
  --headFont: 'Open Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navContainer {
  background:url(../../Images/silver.jpg), rgba(0, 0, 0, 0.699);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.navBar {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.61);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: -30px;
  left: 100%;
  transition: 1s;
}

.logoBox{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.61);
}

.logoBox label{
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

.logoBox label h3{
  color: #179ede;
  font-size: 13px;
  font-family: var(--textFont);
}

.logoBox label h1{
  color: var(--white);
  font-size: 3em;
  margin-bottom: 20px;
  font-family: var(--headFont)
}

.logoBox label p{
  color: #d4d4d4;
  font-size: 15px;
  font-family: var(--textFont);
  width: 400px;
}

.logoBox label a{
  color: white; 
  padding: 10px 20px;
  border: 1px solid var(--skyBlue);
  text-decoration: none;
  margin-top: 20px;
  font-family: var(--textFont);
}

.logoBox label a:hover{
  background: var(--skyBlue);
}

.navBar.active {
  left: 0%;
}

.navBar {
  margin-top: 30px;
}

.navBar ul {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.navBar ul li {
  list-style: none;
  margin: 10px 0;
  border: 1px solid var(--skyBlue);
  padding: 10px 20px;
}

.navBar ul li .navLink {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

.navBar ul li:hover {
  background: var(--skyBlue);
  cursor: pointer;
}

.navBar h4 {
  position: absolute;
  left: 0;
  top: 40%;
  color: #777;
  transform: rotate(270deg);
  background: rgba(0, 0, 0, 0.377);
  margin: 0;
}

#toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  background: #25356e;
  border: 1px solid #25356e;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  z-index: 10;
}

#toggle.active {
  background: rgba(241, 57, 94, 0.726);
}

.homeLink{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  position: fixed;
  left: 10px;
  top: 0;
  padding: 10px 20px;
}

.homeLink:hover{
  border: 1px solid #25356e;
}

@media only screen and (max-width: 768px) {
  .navBar label h1 span {
    color: #e29e5a;
    font-size: 2rem;
  }

  .logoBox label h1{
    color: var(--white);
    font-size: 2.3em;
  }
  .navBar ul {
   margin-top: 100px;
  }

  .logoBox label{
    width: 100%;
  }

  .logoBox label{
    margin-top: 7%;
    margin-right: 0 !important;
    display: flex;
    flex-direction: column;
    padding: 10px !important;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .logoBox label p{
    width: 100%;
  }
}